
._all_matches.csv
._Archive
._IITMBSC03936
._requirements.txt
._train.py
.ipynb_checkpoints/._IPL_Pred-2-checkpoint.ipynb
.ipynb_checkpoints/._IPL_Pred-3-checkpoint.ipynb
.ipynb_checkpoints/._IPL_Pred-checkpoint.ipynb
.ipynb_checkpoints/._IPL_Pred_2-checkpoint.ipynb
.ipynb_checkpoints/IPL_Pred-2-checkpoint.ipynb
.ipynb_checkpoints/IPL_Pred-3-checkpoint.ipynb
.ipynb_checkpoints/IPL_Pred-checkpoint.ipynb
.ipynb_checkpoints/IPL_Pred_2-checkpoint.ipynb
.ipynb_checkpoints/Prediction-checkpoint.ipynb
Archive/._12_inn1.csv
Archive/._12_inn2.csv
Archive/._13_inn1.csv
Archive/._13_inn2.csv
Archive/._14_inn1.csv
Archive/._14_inn2.csv
Archive/._15_inn1.csv
Archive/._15_inn2.csv
Archive/._16_inn1.csv
Archive/._16_inn2.csv
Archive/._17_inn1.csv
Archive/._17_inn2.csv
Archive/._18_inn1.csv
Archive/._18_inn2.csv
Archive/._19_inn1.csv
Archive/._19_inn2.csv
Archive/._20_inn1.csv
Archive/._20_inn2.csv
Archive/._21_inn1.csv
Archive/._21_inn2.csv
Archive/._22_inn1.csv
Archive/._22_inn2.csv
Archive/._23_inn1.csv
Archive/._23_inn2.csv
Archive/._24_inn1.csv
Archive/._24_inn2.csv
Archive/._25_inn1.csv
Archive/._25_inn2.csv
Archive/._8_inn1.csv
Archive/._8_inn2.csv
IITMBSC03936/._.DS_Store
IITMBSC03936/._inputFile.csv
IITMBSC03936/._inputFile_1.csv
IITMBSC03936/._main.py
IITMBSC03936/._predictor.py
IITMBSC03936/.DS_Store
IITMBSC03936/__pycache__/predictor.cpython-39.pyc
notebook/._IPL_Pred-3.ipynb
notebook/._IPL_Pred_2.ipynb
